#header-row {
  font-weight: 600;
  box-shadow: 0px 2px 4px $drop-shadow-light;
  border-bottom: 1px solid $drop-shadow-light;
  height: 100px;
  background-color: $background-color-header-light;
  color: $font-color-light;
  position: relative;
  &.dark {
    background-color: $background-color-header-dark;
    color: $font-color-dark;
    box-shadow: 0px 2px 4px $drop-shadow-dark;
    border-bottom: 1px solid $drop-shadow-dark;
  }
}

#header-col {
  text-align: center;
  color: $header-font-color-light;
  font-size: 30px;
  &.dark {
    background-color: $background-color-header-dark;
    color: $font-color-dark;
  }
}

#header-icon {
  margin-right: 10px;
  font-size: 28px;
}
