@import "./variables";
@import "./mixins";

@import "./header";
@import "./card";
@import "./darkModeSlider";

html,
body,
#root {
  height: 100%;
}

#app-container {
  font-family: Roboto;
  height: 100%;
  &.dark-body {
    background-color: #627d98;
  }
}
