#header-row {
  -webkit-box-shadow: 0px 2px 4px #00a896;
          box-shadow: 0px 2px 4px #00a896;
  height: 70px;
  background-color: #f7f8df;
  color: #05668d;
}

#header-row.dark {
  background-color: #05668d;
  color: #f0f3bd;
}

#header-col {
  text-align: center;
  color: #028090;
  font-size: 30px;
}

#header-col.dark {
  background-color: #05668d;
  color: #f0f3bd;
}

#header-icon {
  margin-right: 10px;
  font-size: 28px;
}

#play-button {
  background-color: #028090;
  border-color: #02c39a;
  width: 90px;
  color: #f0f3bd;
  font-weight: 600;
}

#play-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#play-button:hover {
  background-color: #05668d;
}

#card-row.dark-body {
  background-color: #028090;
}

#card-title {
  margin-bottom: 24px;
}

#card-col {
  margin-bottom: 40px;
  margin-top: 8vh;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px #00a896;
          box-shadow: 0px 2px 4px #00a896;
  border-radius: 15px;
  padding: 20px;
  max-width: 80%;
  color: #05668d;
}

#card-col:hover {
  -webkit-box-shadow: 0px 6px 10px #00a896;
          box-shadow: 0px 6px 10px #00a896;
}

#card-col.dark-card {
  background-color: #05668d;
  color: white;
  -webkit-box-shadow: 0px 2px 4px #f0f3bd;
          box-shadow: 0px 2px 4px #f0f3bd;
}

#card-col.dark-card:hover {
  -webkit-box-shadow: 0px 6px 10px #f0f3bd;
          box-shadow: 0px 6px 10px #f0f3bd;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #028090;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #028090;
          box-shadow: 0 0 1px #028090;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#dark-mode-title {
  font-size: 13px;
  line-height: 90%;
  margin-bottom: 4px;
}

.movie-tile-img {
  height: 268px;
  width: 182px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.movie-tile-img:hover {
  -webkit-box-shadow: 0px 6px 10px #00a896;
          box-shadow: 0px 6px 10px #00a896;
}

.movie-tile-img.dark-tile-img:hover {
  -webkit-box-shadow: 0px 6px 10px #f0f3bd;
          box-shadow: 0px 6px 10px #f0f3bd;
}

.movie-tile {
  margin-bottom: 25px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  position: relative;
  max-width: 182px;
}

.movie-tile-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movietile-info {
  font-size: 30px;
  opacity: 0.6;
  position: absolute;
  top: 4px;
  right: 4px;
  color: white;
  z-index: 1;
  -webkit-filter: drop-shadow(1px 1px 2px #05668d);
          filter: drop-shadow(1px 1px 2px #05668d);
}

.movie-tile-description-hidden {
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.movie-tile-description-shown {
  visibility: visible;
  position: absolute;
  background-color: #00a897bd;
  border-radius: 5px;
  color: white;
}

html,
body,
#root {
  height: 100%;
}

#app-container {
  font-family: Roboto;
  height: 100%;
}

#app-container.dark-body {
  background-color: #028090;
}
/*# sourceMappingURL=main.css.map */