#header-row {
  -webkit-box-shadow: 0px 2px 4px #9e9e9e;
          box-shadow: 0px 2px 4px #9e9e9e;
  height: 70px;
  background: #935fb4;
  background: -webkit-gradient(linear, left top, right top, from(#935fb4), color-stop(46%, #d9d2e3), color-stop(94%, white));
  background: linear-gradient(90deg, #935fb4 0%, #d9d2e3 46%, white 94%);
}

#header-row.dark {
  background: #243b53;
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, #243b53), color-stop(28%, #3d3d79), color-stop(89%, #9fb3c8));
  background: linear-gradient(90deg, #243b53 9%, #3d3d79 28%, #9fb3c8 89%);
  color: white;
}

#header-col {
  text-align: center;
  color: #be37ca;
  font-size: 30px;
}

#header-icon {
  margin-right: 10px;
  font-size: 28px;
  -webkit-filter: drop-shadow(1px 1px 2px #b6b6b6);
          filter: drop-shadow(1px 1px 2px #b6b6b6);
}

#play-button {
  background-color: #be37ca;
  border-color: #be37ca;
  width: 90px;
}

#card-title {
  margin-bottom: 24px;
}

#card-row.dark-body {
  background-color: #627d98;
}

#card-col {
  margin-bottom: 40px;
  margin-top: 8vh;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px #9e9e9e;
          box-shadow: 0px 2px 4px #9e9e9e;
  border-radius: 15px;
  padding: 20px;
  max-width: 80%;
}

#card-col:hover {
  -webkit-box-shadow: 0px 6px 10px #9e9e9e;
          box-shadow: 0px 6px 10px #9e9e9e;
}

#card-col.dark-card {
  background-color: #829ab1;
  color: white;
  -webkit-box-shadow: 0px 2px 4px #435466;
          box-shadow: 0px 2px 4px #435466;
}

#card-col.dark-card:hover {
  -webkit-box-shadow: 0px 6px 10px #435466;
          box-shadow: 0px 6px 10px #435466;
}

.movie-tile-img {
  height: 268px;
  width: 182px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.movie-tile-img:hover {
  -webkit-box-shadow: 0px 6px 10px #9e9e9e;
          box-shadow: 0px 6px 10px #9e9e9e;
}

.movie-tile-img.dark-tile-img:hover {
  -webkit-box-shadow: 0px 6px 10px #435466;
          box-shadow: 0px 6px 10px #435466;
}

.movie-tile {
  margin-bottom: 25px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #be37ca;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #be37ca;
          box-shadow: 0 0 1px #be37ca;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#dark-mode-title {
  font-size: 13px;
  line-height: 90%;
  margin-bottom: 4px;
}

html,
body,
#root {
  height: 100%;
}

#app-container {
  font-family: Roboto;
  height: 100%;
}

#app-container.dark-body {
  background-color: #627d98;
}
/*# sourceMappingURL=main.css.map */